
@font-face {font-family: noto; src: url(NotoSerifCondensed400.otf); font-style: normal; font-weight: normal;}
@font-face {font-family: noto; src: url(NotoSerifCondensed401.otf); font-style: italic; font-weight: normal;}
@font-face {font-family: noto; src: url(NotoSerifCondensed800.otf); font-style: normal; font-weight: bold;}
@font-face {font-family: noto; src: url(NotoSerifCondensed801.otf); font-style: italic; font-weight: bold;}
@font-face {font-family: notod; src: url(NotoSerifDisplayCondensed800.otf); font-style: normal; font-weight: bold;}
@font-face {font-family: notod; src: url(NotoSerifDisplayCondensed801.otf); font-style: italic; font-weight: bold;}

body {
background: #ffffff; color: #314158; /* white & slate 700 */
font: 12pt/1.5 noto, sans-serif;
hyphens: auto;
margin: 0 auto; max-width: 40em; padding: 1em;
}

a:link, a:visited {color: #0069a8;} /* sky 700 */
a:hover, a:active {color: #c70036;} /* rose 700 */

audio {display: block;}

figure {margin: 1em 0;} figcaption {font-size: small; text-align: center;}

h1, h2 {font-family: notod;}

hr {border: 1px solid #314158;}

table {border-collapse: collapse; margin: 1em 0; table-layout: fixed; width: 100%;}
th, td {border: thin solid #cad5e2; padding: 0.2em 0.5em; vertical-align: top;} /* slate 300 */

.kol2 {columns: 2;}
.wys {margin: 1em 0;} .wys p {margin: 0; padding: 0 0 0 1em; text-indent: -1em;}

/*
#c70036 #ff2056 rose
#bb4d00 #fe9a00 amber
#497d00 #7ccf00 lime
#0069a8 #00a6f4 sky
#314158 #62748e #cad5e2 slate
*/
